body {
  font-size: 20;
}
.helloWorld {
  text-align: center;
  padding: 20;
}

.helloWorld .hello {
  padding: 20;
}
.helloWorld .counter .count {
  padding: 20;
}

.helloWorld .counter .increment {
  padding: 20;
}

.helloWorld .counter .decrement {
  padding: 20;
  margin: 10;
}
